/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #f0454c
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;

}
header{
  background-image:url("../images/header.jpg");
  width: 1380px;
  height:1000px;
  background-size: cover;
}

h1{
  background: #f0454c;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  margin-left: 250px;
  margin-top: 0px;
  padding: 20px;
  margin-right: 900px;
  color: white;
  height: 90px;

}


.link{
position: relative;
text-align: right;
right:150px;
word-spacing: 30px;
padding: 10px;
top:-100px;
text-transform: uppercase;
color:#465065;
}

i{
  color: rgb(250,70,80);
}

a{
  text-decoration: none;
  color: rgb(0,0,40);
}

 p{
line-height: 35px;
color:#465065;


}

.titre{
  padding: 50px 100px 20px 0px;
  margin-top: 210px;
  margin-left: 200px;

}

.titre:before{
  content: "";
  display: block;

}

.intello{
  width: 80px;
  font-size:45px;
  padding-top: 20px;
  padding-left: 0px;
  margin: 200px 350px 0px 0px;
 text-transform:uppercase;
}


.titre .bouton a{
  text-align: left;
  line-height: 60px;
  padding: 20px 30px;
  vertical-align: middle;
  background: #f0455c;
  color: white;
  margin-top: 200px;
  margin-right: 0px;
  margin-left: 0px;

  margin: 1000px 910px 200px 200px;
  padding: 24px 24px 24px 24px;
  border-radius: 10px;
  background: rgb(250,70,80);

}/*petit blok rose*/
.titre:before{
  content:"";
display: block;
  width: 58px;
  height: 6px;
  background-color: #f0454C;
  margin-bottom: 20px;
}
/*petit blok rose section 2*/
 .peace:before{
   content:"";
 display: block;
   width: 58px;
   height: 6px;
   background-color: #f0454C;
   margin-bottom: 20px;
   margin-left: 350px;
}

.section-2{
  display:block;
}
